<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= Title %></title>

  <!--LINK CSS-->
  <link rel="stylesheet" href="/static/styles/styles.css" />

  <!--LINK JAVA-->
  <script src="/static/scripts/script.js" defer></script>
</head>
