<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include("../partials/menu") %>;
    <main class="uau">
      <section class="conta">
        <h1>ERROR</h1>
        <h2>404</h2>
        <p>something went wrong...</p>
        <a href="/" class="button">Voltar para a Home</a>
      </section>
    </main>
    <%- include("../partials/footer") %>;
  </body>
</html>
