<!DOCTYPE html>
<html lang="ptbr">
  <%- include('../partials/head'); %>

  <body>
    <%- include('../partials/menu'); %>
    <section class="ohoh">
      <main class="oi">
        <div class="container5">
          <h1 class="h1">Login inválido!!</h1>
          <p class="p">
            <a href="/cadastro" class="btnT">CADASTRAR</a>
            <a href="/login" class="btnL">LOGIN</a>
          </p>
        </div>
      </main>
    </section>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
