<!DOCTYPE html>
<html lang="ptbr">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu"); %>

    <main class="oi">
      <div class="container5">
        <h1 class="h1">Cadastro inválido, usuário já cadastrado !!!</h1>
        <p class="p">
          <a href="/cadastro" class="btnT">Tentar novamente</a>
          <a href="/login" class="btnL">Login</a>
        </p>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
