<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/menu') %>;
    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>
    <section class="container">
      <div class="image_container">
        <h1>
          Hello! Welcome to: <br />
          About Us!
        </h1>
        <p>
          make yourself at home, register on our website come and get to know us
          better!<br />
        </p>
      </div>
    </section>
    <%- include("../partials/footer") %>;
  </body>
</html>
