@font-face {
  font-family: "Copperplate";
  src: url("/static/fonts/Copperplate.otf");
}

@font-face {
  font-family: "JoseFins";
  src: url("/static/fonts/JosefinSans.ttf");
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  background: linear-gradient(
    159deg,
    rgba(55, 85, 52, 1) 30%,
    rgba(55, 71, 90, 1) 68%
  );
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  padding: 10px 15px;
  background-color: #0f2a1d;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-size: 3em;
  letter-spacing: 1.5px;
}

header nav a {
  color: #fff;
  font-size: 1.5em;
  margin-right: 16px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #0f2a1d;
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uau {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.conta {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 64px;
  margin: 0;
}

h2 {
  font-size: 55px;
  margin: 10px 0;
  color: #ff4c4c;
}

p {
  font-size: 30px;
  color: #ccc;
  margin-bottom: 30px;
}

.button {
  padding: 12px 24px;
  background-color: #0f2a1d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-style: italic;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.button:hover {
  background-color: #47462d;
}

footer p {
  color: #e3eed4;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: 1px;
}

.container_rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: transparent;
}

.cloud {
  position: absolute;
  width: 250px;
  height: 100px;
  background: url("/static/images/nuvem.png") center / cover no-repeat;
  filter: drop-shadow(2px 2px 20px #e3eed4);
}

.cloud:nth-child(1) {
  top: 2.5%;
  left: 5%;
}
.cloud:nth-child(2) {
  z-index: 112;
  top: 2.5%;
  left: 24%;
}
.cloud:nth-child(3) {
  z-index: 1120;
  top: 9.5%;
  left: 5%;
}

.rain {
  background-color: #e3eed4;
  width: 5px;
  height: 5px;
  border: 0 50% 50% 50%;
  transform: rotate(45deg);
  box-shadow: inset -25px 10px 0px -10px #fefefe;
  z-index: 100;
  position: absolute;
  top: 90px;
  transform-origin: bottom;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  60% {
    transform: translateY(80vh) scaleY(1);
    opacity: 1;
  }
  80% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0.5;
  }
  100% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0;
  }
}
.container {
  width: 80%;
  height: 80%;
  background-color: #e3eed4;
  border-radius: 39px;
  box-shadow: 2px -10px 30px #0f2a1d;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  overflow: hidden;
}
.title {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  padding: 10px;
  background: linear-gradient(180deg, #47462d 0%, #5b5940 50%, #686b45 100%);
  backdrop-filter: blur(100px);
}

.destaque {
  color: #d0d0c6;
  font-style: bold;
}
.container1 {
  width: 80%;
  height: 80%;
  border-radius: 39px;
  box-shadow: 2px -10px 30px #0f2a1d;
  justify-items: center;
  align-items: center;

  overflow: hidden;
}

.image_container1 {
  width: 100%;
  height: 100%;
  background: url("/static/images/wallpaper.jpg") center / cover no-repeat;
  border-radius: 0 40px 40px 0;

  padding-left: 10%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_container1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* .image_container2 {
  width: 100%;
  height: 100%;
  background: url("/static/images/erro.jpg") center / cover no-repeat;
  border-radius: 0 40px 40px 0;

  padding-left: 10%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image_container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
} */

.image_container1 h1,
.image_container1 p {
  position: relative;
  z-index: 2;
  color: #e3eed4;
}

.image_container1 h1 {
  font-family: "JoseFins";
  font-size: 40px;
}
.image_container1 p {
  font-family: "Copperplate";
  font-size: 13px;
}

/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #333;
} */

.oi {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.ohoh {
  height: 80%;
  width: 97%;
  background: linear-gradient(
    250deg,
    rgba(55, 85, 52, 1) 30%,
    rgba(55, 71, 90, 1) 68%
  );
  border: 4px solid #1a1a1a;
  border-radius: 30px;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.h1 {
  color: #e63946;
  font-size: 28px;
  margin-bottom: 20px;
}

.p {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btnT {
  text-decoration: none;
  color: #5b5940;
  background-color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btnL {
  text-decoration: none;
  color: #5b5940;
  background-color: #1a1a1a;
  padding: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btnT:hover {
  background-color: #1d3557;
}
.btnL:hover {
  background-color: #1d3557;
}

.image_container {
  width: 100%;
  height: 100%;
  background: url("/static/images/wallpaper.jpg") center / cover no-repeat;
  border-radius: 0 40px 40px 0;

  padding-left: 10%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.image_container h1,
.image_container p {
  position: relative;
  z-index: 2;
  color: #e3eed4;
}

.image_container h1 {
  font-family: "JoseFins";
  font-size: 40px;
}
.image_container p {
  font-family: "Copperplate";
  font-size: 13px;
}

#cadastroForm {
  width: 80%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#cadastroForm h1,
#cadastroForm p {
  width: 100%;
  text-align: center;
}

#cadastroForm h1 {
  font-family: "JoseFins";
  font-size: 2em;
  color: #0f2a1d;
}

#cadastroForm p {
  font-family: "Copperplate";
  font-size: 13px;
  font-style: italic;
  color: #0f2a1d;
}

#cadastroForm .input_data {
  position: relative;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0f2a1d;
}

#cadastroForm .input_data:nth-child(8) {
  width: 100%;
}

#cadastroForm .input_data input {
  position: relative;
  z-index: 2;
  font-family: "Copperplate";
  font-size: 11px;
  margin-top: 3px;
  height: 30px;

  padding: 5px 10px;

  border: none;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #0f2a1d;
  color: #0f2a1d;
}

#cadastroForm .input_data label {
  font-family: "Copperplate";
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  z-index: 1;
  color: #0f2a1d;
}

#cadastroForm .input_data input:focus + label,
#cadastroForm .input_data input:valid + label {
  top: -10%;
  left: 0;
}

#cadastroForm .bntArea {
  width: 100%;
}

#cadastroForm .bntArea .msgError {
  margin-bottom: 10px;
  height: 25px;
  color: #375534;
  font-style: italic;
}

#cadastroForm .bntArea button {
  font-family: "Copperplate";
  border: 1px solid #0f2a1d;
  width: 100%;
  padding: 10px 20px;
  background-color: #0f2a1d;
  color: #e3eed4;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.5px;
}

#cadastroForm .bntArea button:hover {
  background-color: transparent;
  border: 1px solid #0f2a1d;
  color: #0f2a1d;
  transition: 0.7s ease;
}

/* Respansividadeeee */
@media only screen and (max-width: 730px) {
  .cloud:nth-child(1) {
    top: 2%;
    left: -27%;
  }
  .cloud:nth-child(2) {
    top: 2%;
    left: -2%;
  }
  .cloud:nth-child(3) {
    top: 8%;
    left: -27%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .image_container {
    border-radius: 30px 30px 0 0;
    height: 110vh;
  }
  .image_container h1 {
    font-size: 30px;
  }
  .image_container p {
    font-size: 10px;
  }

  .image_container h1,
  .image_container p {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  #cadastroForm {
    padding: 15px;
  }
}
